<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zxw-1253433194.cos.ap-chengdu.myqcloud.com/SparrowCS-mobile.ipa?q-sign-algorithm=sha1&amp;q-ak=AKIDjYNeNsRuJdit7F7l0WtF3M6aCbEx5Gbi&amp;q-sign-time=1559287499;1559291099&amp;q-key-time=1559287499;1559291099&amp;q-header-list=&amp;q-url-param-list=&amp;q-signature=5a22a67e400ae9efcb16d1a9631d28d5fffd480d&amp;x-cos-security-token=fd69f89c9b2b81494393d36d9e2e17945f81763010001</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xinsheng.HNhongyun</string>
				<key>bundle-version</key>
				<string>1.6.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SparrowCS-mobile</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
