<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zxw-1253433194.cos.ap-chengdu.myqcloud.com/SparrowCS-mobile.ipa?q-sign-algorithm=sha1&amp;q-ak=AKIDaU7712WSVuc3Ep5dJQCxqxVo4XAv15hO&amp;q-sign-time=1553147103;1553148903&amp;q-key-time=1553147103;1553148903&amp;q-header-list=&amp;q-url-param-list=&amp;q-signature=0deb3203019663ea938310cc9c406af322f3ce6d&amp;x-cos-security-token=fb9465f20ec5180261a9ae1a69b1f635d089db3410001</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xinsheng.HNhongyun</string>
				<key>bundle-version</key>
				<string>1.6.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SparrowCS-mobile</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
