<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zxw-1253433194.cos.ap-chengdu.myqcloud.com/SparrowCS-mobile.ipa?q-sign-algorithm=sha1&amp;q-ak=AKIDVDQ7uQExyOSj56nUA0WafteYMHthM332&amp;q-sign-time=1557369100;1557370900&amp;q-key-time=1557369100;1557370900&amp;q-header-list=&amp;q-url-param-list=&amp;q-signature=98868c382aedf93c7c9b6761c42648d91837df54&amp;x-cos-security-token=3a1e9d7bcd009e04c7c82eef3f14a8db33b5fc6510001</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/Selfz/HYQP/raw/master/ipa/raw/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xinsheng.HNhongyun</string>
				<key>bundle-version</key>
				<string>1.6.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SparrowCS-mobile</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
